<h3><a routerLink="/feeds">Feeds</a> > {{feed.title}}</h3>
<div class="list-group" *ngIf="feed">
  <div class="row">
      <div class="col-md-3">
    <div class="w-100 justify-content-between">
        <img src="{{feed.image}}" class="img-fluid img-thumbnail" />
    </div>
      </div>
      <div class="col-md-8">
    <small class="text-muted">{{ feed.created_datetime | date :'mediumDate' }}</small>
    <h5 class="mb-1">{{feed.title}}</h5>
    <p class="mb-1">{{feed.description}} </p>
      </div>
</div>